<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Tier List アプリ - アカウント有効化</title>
</head>
<body>
  <h1>Tier List アプリ</h1>

  <p><%= @user.name %>さん、</p>

  <p>
    Tier List アプリへようこそ！アカウントを有効化するには、以下のリンクをクリックしてください：
  </p>

  <p>
    <%= link_to "アカウントを有効化", 
    edit_account_activation_url(@user.activation_token,
    email: @user.email) %>
  </p>

  <p>
    このリンクは一度しか使用できませんので、ご注意ください。
  </p>

  <p>
    今後ともTier List アプリをよろしくお願いいたします。
  </p>
</body>
</html>