<% provide(:title, "プロフィール編集") %>
<% provide(:button_text, '保存') %>
<h1>プロフィール編集</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= render 'form' %>
        <div class="gravatar_edit">
            <%= gravatar_for @user%>
            <a href="https://gravatar.com/emails" target="_blank" rel="noopener" >change</a>
        </div>
    </div>
</div>