<div class="center jumbotron">
  <h1>TierBuilder</h1>
  <h2>
    <a href="https://en.wikipedia.org/wiki/Tier_list" target="_blank" rel="noopener noreferrer">ティアリスト</a>作成アプリです
  </h2>
  <%= link_to "サインアップ", signup_path, class: "btn btn-lg btn-primary" %>
  <%= form_with url: guest_login_path, method: :post, local: true do %>
    <div>
      <%= submit_tag 'ゲストユーザを作成', class: 'btn btn-lg btn-secondary' %>
    </div>
  <% end %>
</div>