@import "bootstrap-sprockets";
@import "bootstrap";
// @font-face {
//     font-family: "onryou";
//     src: url('onryou.TTF') format('truetype');
//   }

$light-gray: #777;
/*$gray-midium-light: #eaeaea;*/
$gray-midium-light: #ffff00;

body {
    padding-top: 60px;
    // font-family: 'onryou';
    color: red;
    background-image: url('wagara.jpg');
    background-size: cover;
    opacity: 1;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center{
    text-align: center;
    h1 {
        margin-bottom: 10px;
    }
    background-color: #000000;
}

.tierliststitle{
    background-color: #000000;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: $light-gray;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}

/* header */

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: white;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    &:hover {
        color: white;
        text-decoration: none;
    }
}

/* footer */
footer {
    margin-top: 45px;
    padding-top: 5px;
    // border-top: 1px solid $gray-midium-light;
    color: $gray-light;
    font-size: large;
    a {
        // color: $gray;
        color: #ff0000;
        background-color: #000000;
        &:hover{
            color: $gray-darker;
        }
    }
    small {
        float: left;
    }
    ul {
        float: right;
        list-style: none;
        li {
            float: right;
            margin-left: 15px;
        }
    }
}
@media (max-width: 800px) {
    footer {
        small {
            display: block;
            float: none;
            margin-bottom: 1em;
        }
        ul {
            float: none;
            padding: 0;
            li {
                float: none;
                margin-left: 0;
            }
        }
    }
}

/* miscellneous   */

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
}

/* sidebar */
aside {
    section.user_info {
        margin-top: 20px;
    }
    section {
        padding: 10px 0;
        margin-top: 20px;
        &:first-child {
            border: 0;
            padding-top: 0;
        }
        span {
            display: block;
            margin-top: 3px;
            line-height: 1;
        }
        h1 {
            font-size: 1.4em;
            text-align: left;
            letter-spacing: -1px;
            margin-bottom: 3px;
            margin-top: 0px;
        }
    }
}

.gravater {
    float: left;
    margin-right: 10px;
}

.gravatar_edit{
    margin-top: 15px;
}

.stats {
    overflow: auto;
    margin-top: 0;
    padding: 0;
    a {
      float: left;
      padding: 0 10px;
      border-left: 1px solid $gray-lighter;
      color: gray;
      &:first-child {
        padding-left: 0;
        border: 0;
      }
      &:hover {
        text-decoration: none;
        color: blue;
      }
    }
    strong {
      display: block;
    }
  }
  
  .user_avatars {
    overflow: auto;
    margin-top: 10px;
    .gravatar {
      margin: 1px 1px;
    }
    a {
      padding: 0;
    }
  }
  
  .users.follow {
    padding: 0;
  }

/* mixins, variables, etc. */

$gray-midium-light: #eaeaea;

@mixin box-sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input, textarea {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
}

input {
    height: auto !important;
}

/* forms */

#error_explanation {
    color: red;
    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}

.field_with_errors {
    @extend .has-error;
    .form-control {
        color: $state-danger-text;
    }
}

.check_box {
    margin-top: -10px;
    margin-bottom: 10px;
    span {
        margin-left: 20px;
        font-weight: normal;
    }
}

#session_remember_me {
    width: auto;
    margin-left: 0;
}

#tierlist_editable_by_anyone {
    width: auto;
    margin-top: 10px;
}

#tierlist_public {
    width: auto;
    margin-top: 10px;
}

#tierlist_votable {
    width: auto;
    margin-top: 10px;
}

/* dropdown menu */

.dropdown-menu.active {
    display: block;
}

/* users index*/

.users {
    list-style: none;
    margin: 0;
    li {
        overflow: auto;
        padding: 10px 0;
        border-bottom: 1px solid $gray-lighter;
    }
}

/* microposts */

.microposts {
    list-style: none;
    padding: 0;
    li {
        padding: 10px 0;
        border-top: 1px solid #e8e8e8;
    }
    .user {
        margin-top: 50em;
        padding-top: 0;
    }
    .content {
        display: block;
        // margin-left: 60px;
        img {
            display: block;
            // padding: 5px 0;
        }
    }
    .timestamp {
        color: $gray-light;
        display: block;
        margin-left: 60px;
    }
    .gravatar {
        float: left;
        margin-right: 10px;
        margin-top: 5px;
    }
}

aside {
    textarea {
        height: 100px;
        margin-bottom: 5px;
    }
}

span.image {
    margin-top: 10px;
    input {
        border: 0;
    }
}

/* tirelist_form */

.small-textarea {
    width: 200px; /* 幅を調整 */
    height: 30px; /* 高さを調整 */
}

.small-button {
    font-size: 15px; /* フォントサイズを調整 */
    padding: 5px 10px; /* パディングを調整 */
    width: auto; /* 自動幅 */
    height: auto; /* 自動高さ */
  }

/* tirelist */

.tierlists {
    list-style: none;
    padding: 0;
    li {
        padding: 10px 0;
        border-top: 1px solid #e8e8e8;
    }
    .user {
        margin-top: 50em;
        padding-top: 0;
    }
    .content {
        display: block;
        // margin-left: 60px;
        font-size: 2em; 
        img {
            display: block;
            // padding: 5px 0;
        }
    }
    .timestamp {
        color: $gray-light;
        display: block;
        margin-left: 60px;
    }
    .gravatar {
        float: left;
        margin-right: 10px;
        margin-top: 5px;
    }
}

// .tierlist-items {
//     list-style: none;
//     padding: 0;
//     li {
//         display: inline-block;
//         padding: 10px;
//         border: 1px solid #e8e8e8;
//         margin: 5px;
//         font-size: 1.5em;
//     }
//     .field {
//         display: inline-block;
//         margin-right: 10px;
//     }
//     .actions {
//         display: inline-block;
//     }
// }    
.tierlist-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: black; /* テーブル全体の背景色を黒に設定 */
    color: black; /* テーブル内のテキストカラーを白に設定 */
  }
  
  .tierlist-table th, .tierlist-table td {
    border: 1px solid #ddd;
    padding: 1px;
    text-align: center;
    line-height: 1.6; /* 行間を少し広げる */
  }
  
  .tierlist-table th {
    background-color: #f4f4f4;
    font-size: 1.2em;
    color: black; /* ヘッダーのテキストカラーを黒に設定 */
  }
  
  .tierlist-items-inline {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .tierlist-items-inline li {
    display: flex;
    align-items: center;
    margin: 1px;
    padding: 1px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9; /* アイテムの背景色を設定 */
    font-size: 1.2em;
    color: black; /* アイテムのテキストカラーを黒に設定 */
    line-height: 1.6; /* 行間を少し広げる */
  }
  
  /* ランクごとの色設定 */
  .rank-1 td:first-child {
    background-color: #ff9999; /* S rank: 赤 */
  }
  
  .rank-2 td:first-child {
    background-color: #ffcc99; /* A rank: オレンジ */
  }
  
  .rank-3 td:first-child {
    background-color: #ffff99; /* B rank: 黄 */
  }
  
  .rank-4 td:first-child {
    background-color: #ccff99; /* C rank: ライトグリーン */
  }
  
  .rank-5 td:first-child {
    background-color: #99ccff; /* D rank: 青 */
  }
  
  .rank-6 td:first-child {
    background-color: #cc99ff; /* E rank: 紫 */
  }

/* tierlistサムネイル */
.tierlist-table.thumbnail {
  width: 100%;
  max-width: max-content;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

.tierlist-table.thumbnail ul.tierlist-items-inline {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tierlist-table.thumbnail ul.tierlist-items-inline li {
  display: inline-block;
  margin-right: 3px; /* Smaller margin */
}

.tierlist-table.thumbnail td {
  padding: 0;
  margin: 0;
  border: none;
}

.tierlist-table.thumbnail strong {
  display: block;
  margin-bottom: 3px; /* Smaller margin */
}

.tierlists {
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.tierlists li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tierlist-items-inline {
    list-style-type: none;
}

.tierlist-items-inline {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.tierlist-item-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    background-color: #f8f8f8;
    border-radius: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.tierlist-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 90px;
    height: 100px;
}

.tierlist-item-img img {
    width: 85px;
    height: 80px;
    margin: 0;
    padding: 0;
}

.tierlist-item-name {
    max-width: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0;
    min-height: 20px;
}

.vote-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin-left: 10px; /* 隣にスペースを持たせるために最小限のマージン */
}

.vote-buttons button {
    padding: 0;
    margin: 0;
}

.admax {
    width: auto;
}