<footer class="footer">
    <nav>
        <ul>
            <li><%= link_to "Contact", contact_path%></li>
            <li><a href="https://github.com/TZKJ-univ/tier_list_app">GitHub</a></li>
        </ul>
    </nav>
</footer>
